#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
 
  .swiper {
    width: 100%;
    height: 100%;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./slidernew.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  